@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

canvas.image-editor {
  max-width: 600px;
  max-height: 600px;
}

.slider {
  width: 100%;
  height: 30px;

  .track {
    height: 10px;
    background-color: lighten(theme-color("secondary"), 10%);
    border-radius: 3px;
  }

  .thumb {
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: lighten(theme-color("primary"), 10%);
    top: -5px;
  }
}

.image-importer {
  .drop-zone {
    background-color: theme-color("light");
    border: 1px dashed theme-color("primary");
    font-style: italic;
    padding-top: 1em;
    text-align: center;
    height: 60px;
    margin-bottom: 0.5em;
  }

  .image-preview {
    .custom-file {
      margin: 0 1em;
    }

    canvas {
      max-width: 120px;
      max-height: 120px;
    }

    img {
      width: 120px;
      display: block;
      padding: 0.5em;
      border: 1px dashed theme-color("primary");

      &:not(.has-image) {
        display: none;
      }
    }

    .metadata {
      margin: 0 auto;
      padding: 0.3em;
      border: 1px dashed theme-color("primary");
      width: 100%;
      margin-left: 0.5em;
      font-size: 0.8em;
      color: $gray-600;
    }
  }
}
