language: python
python:
  - '2.7'
sudo: false
cache:
  directories:
    - "~/.platformio"
install:
  - pip install -U platformio
  - platformio lib install
script:
  - platformio run
before_deploy:
  - ./.prepare_release
deploy:
  provider: releases
  prerelease: true
  api_key:
    secure: l9roDX5nWmdLfdKRfBUVM8dPJQ+kfdCKlJklIoN2D2C1lK0VeqKyLKZBCYrZImbo0R1XUGeJrPpbxm13375WmRsKO8RYUx2AG0R0k3BCkreOkMpaiWhDzzLjn1wARI1TRD5HB9kR2o4pYL06tmNgv6pVGthVImyIrDQHpAZGc5VxSUbG40j9/0oHYGgCvraR2KmPsB1oL5obk0jy+eiBFfpMqDsSHz9R+amhjRU257XvYx7yHGQFI897FaaL9uO+vq7WpdwU/tvYyXcvfzWcdAsPs2ZysoEcKCIGpuLbJGNkVPT/C2A6Kxmvxvlrx34W45bJ9QbOSV8Xkov6jZN41IeV2KQ8iZ+6ALtRtUxvFxJxYd1MOP842/eYR/pR5hHNqp3vr3qsUHLGLXgQkPsMB72M7KjTs5jU2U7gLa/Vat87qnN72HZ5mnn3HgmyCgY7THo7qoDVjH7Y7SHIQsws6sQm+Q2CcXMIxbDMocvnFcNLhzbE/In1hxsZAWVSzEIG8lWS+1XO9pdcaxy4XozzYAwv0xr8K8EXqKc+sIFi0RJgbLBTFKSbaOCBm5u/mtz87srZCHzD0BLJanT+NPY3JuiA6yFom9BjwGr3hYlLd9GxAUUG/r9uKrqLfz7G2LW0lnCTsQHFwt54FHyQcfUGIUZ2hcnX0qnal7X2cn2QZ4w=
  file_glob: true
  skip_cleanup: true
  file: dist/*.bin
  on:
    repo: sidoh/epaper_templates
    tags: true
