EPAPER_TEMPLATES_HOSTNAME=epaper-templates

EPAPER_TEMPLATES_MQTT_SERVER=my-mqtt-broker
EPAPER_TEMPLATES_MQTT_USERNAME=
EPAPER_TEMPLATES_MQTT_PASSWORD=
EPAPER_TEMPLATES_MQTT_TOPIC_PREFIX=epaper_display_test/