.variables-form {
  .button-container {
    flex-basis: 20em;
  }

  .save-success {
    transition: .5s ease-out;
    display: inline-block;
    font-size: 1.3em;
    margin-left: 1em;

    &.hidden {
      opacity: 0%;
    }
  }

  .variable-row {
    margin: 1em 0;

    .variable-key {
      width: 30em;
      text-align: right;
      margin-right: 1em;
    }

    input {
      margin-right: 1em;
    }

    input.error {
      box-shadow: 0 0 10px red;
    }

    div.error {
      text-align: left;
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    .flex-grow-1 {
      align-self: flex-end;
    }
  }
}
