.visual-editor {
  svg {
    image, text, line {
      stroke-width: 1px;
      cursor: pointer;
      user-select: none;

      &:hover {
        stroke-width: 3px;
      }

      &.active {
        background-color: #ff9999;
        font-weight: bold;
        fill: #cc6 !important;
        text-decoration: underline;
        stroke-width: 3px;
        cursor: move;
      }
    }

    line.active {
      stroke: #cc6 !important;
    }

    .image-outline {
      stroke-width: 1px;
      stroke: #66c;
      stroke-dasharray: 3 2;
      fill: none;
    }
  }
}