.visual-editor {
  svg {
    &.selecting > * {
      cursor: default !important;
    }

    image, text, line, rect {
      stroke-width: 1px;
      cursor: pointer;
      user-select: none;

      &.active {
        fill-opacity: 0.8;
        z-index: 9;
        cursor: move;
      }
    }

    rect.outline {
      fill: none;
      stroke: #66f;
      stroke-width: 1px;
      stroke-dasharray: 3 2;
    }

    rect.filled,
    rect.active.filled {
      stroke-width: 0;
    }

    rect.selection {
      fill: none;
      stroke: #99f;
      stroke-width: 1px;
      stroke-dasharray: 6 2;
    }
  }
}