@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootswatch/dist/darkly/bootswatch";

.nav.nav-pills {
  .nav-item {
    .nav-link {
      padding: 0.5em 1em;
    }
  }
}

ul.block-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em;
    margin: 0.3em 0;
    background-color: theme-color("secondary");

    &.active {
      border-left: 3px solid lighten($primary, 20%);
      margin-left: -3px;
    }

    &:hover {
      background-color: lighten($secondary, 10%);
    }
  }
}

@include media-breakpoint-up(lg) {
  .scroll-pane {
    max-height: calc(100vh - 240px);
    overflow-y: auto;
  }
}